@model FYPFinalKhanaGarKa.Models.ViewModels.ModifyPasswordViewModel
@{
    ViewData["Title"] = "ModifyPassword";
}

@Html.Partial("_PageTitlePartial", ViewData["Title"])
<!-- Content Start -->
<main class="main-content">
    @if (ViewBag.Success != null)
    {
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> @ViewBag.Success
    </div>
    }
    <div class="login-block">
        <img src="~/img/logo_gray.png" alt="">
        <h1>Modify your password</h1>
        <form method="post" asp-action="ModifyPassword" asp-controller="Account">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input asp-for="OldPassword" type="password" class="form-control" placeholder="Your Password" required>
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
            </div>
            <hr class="hr-xs">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input asp-for="NewPassword" type="password" class="form-control" placeholder="New Password" required>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
            </div>
            <hr class="hr-xs">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" required>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>

            <button class="btn btn-primary btn-block" type="submit"> Modify </button>

        </form>
    </div>
    <div class="login-links">
        <p class="text-center"><a class="pull-left" asp-controller="Account" asp-action="ModifyDetails"><span class="fa fa-arrow-circle-o-left"></span>Back to Detail Page.</a></p>
    </div>
</main>
<!-- Main container end -->
<!-- Content End -->
@section Scripts
    {
    <script>
        $('body').addClass("login-page");
    </script>
}

