@using FYPFinalKhanaGarKa.Models.ViewModels;
@using FYPFinalKhanaGarKa.Controllers;

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var img = ""; var name = "";
    @if (HttpContextAccessor.HttpContext.Session.Get<SessionData>("_User") != null)
    {

        if (HttpContextAccessor.HttpContext.Session.Get<SessionData>("_User").ImgUrl != null)
        {
            img = HttpContextAccessor.HttpContext.Session.Get<SessionData>("_User").ImgUrl;

        }
        else
        {
            img = "/img/avatar.png";

        }
        if (HttpContextAccessor.HttpContext.Session.Get<SessionData>("_User").Name != null)
        {
            name = HttpContextAccessor.HttpContext.Session.Get<SessionData>("_User").Name;

        }
    }
}

    @if (HttpContextAccessor.HttpContext.Session.Get<SessionData>("_User") != null)
    {
        <div class="dropdown pull-right" style="margin-top:10px">
            <img class="img img-circle" src="@img" style="height:50px;width:50px;background-size:cover" />
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@name <span class="caret"></span></a>
            &nbsp;
            <ul class="dropdown-menu">
                @if (string.Equals(HttpContextAccessor.HttpContext.Session.Get<SessionData>("_User").Role,"chef",StringComparison.OrdinalIgnoreCase ))
                {
                <li><a href="/Chef/Account/"><i class="fa fa-fw fa-dashboard"></i> Dashboard </a></li>
                }
                <li><a href="/Home/ModifyDetails/"><i class="fa fa-fw fa-home"></i> My Account </a></li>
                <li><a href="/Order/History/"><i class="fa fa-fw fa-history"></i> Order History</a></li>
                <li class="divider"></li>
                <li><a href="/Home/Logout/"><i class="fa fa-fw fa-power-off"></i> Logout </a></li>
            </ul>
        </div>
    }
    else
    {
        <div class="pull-right user-login">
            <a class="btn btn-sm btn-primary" asp-controller="Home" asp-action="Login">Login</a> or &nbsp;
            <a id="user-register" class="user-register-btn" asp-controller="Home" asp-action="Register">Register</a>
        </div>
    }
