<!-- Start Pages Title  -->
<section id="page-title" class="page-title-style2">
    <div class="color-overlay"></div>
    <div class="container inner-img">
        <div class="row">
            <div class="Page-title">
                <div class="col-md-12 text-center">
                    <div class="title-text">
                        <h6>Great Service</h6>
                        <h2 class="page-title">@ViewData["Title"]</h2>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <div class="breadcrumb-trail breadcrumbs">
                        <span class="trail-begin"><a href="#">Home</a></span>
                        <span class="sep">/</span> <span class="trail-end">@ViewData["Title"]</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Pages Title  -->
