@{
    ViewData["Title"] = "About";
}
@Html.Partial("_PageTitlePartial", ViewData["Title"])

<main class="main-content">
    <!-- Start welcome -->
    <section id="Welcome" class="light-wrapper">
        <div class="container">
            <div class="inner">
                <div class="row">
                    <div class="col-md-12">
                        <header class="section-header">
                            <span>Hello the KhanaGarKa!</span>
                            <h2>Welcome To KhanaGarKa</h2>

                            <p>Order! Homeade, clean and delicious food from the families near you.  </p>

                        </header>
                    </div>
                </div>
                <div class="divcod40"></div>
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-lg-4 col-md-4">
                        <div class="welcome_wrapper text-left">
                            <div class="number">01.</div>
                            <h5>Company Introduction</h5>
                            <p>"khanagarka.com" is an online food web application that teams up with local chefs. That offers multiple food options. Those individual chefs who do not have any physical restaurant.</p>

                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4 col-lg-4 col-md-4">
                        <div class="welcome_wrapper text-left">
                            <div class="number">02.</div>
                            <h5>Our Mission</h5>
                            <p>Our Mission is to provide healthy and homemade food to those customers who lives out of their homes. For example students & others who lives in commerce. And opportunity for local chefs to start their business with out any investment.</p>

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-lg-4 col-md-4">
                        <div class="welcome_wrapper text-left">
                            <div class="number">03.</div>
                            <h5>Our Values</h5>
                            <p>There has been a number of food ordering apps over the past few years, which are partnered with local restaurants. We are unique in a way that is not partnered with any local restaurant.</p>

                        </div>
                    </div>
                </div>

                <div class="stuff-section">
                    <header class="section-header">
                        <span>Who we are</span>
                        <h2>Our member</h2>
                        <p>Currently, we're three geek and will grow up soon</p>
                    </header>
                    <div class="row equal-team-members">
                        <!-- Team member -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="team-member">
                                <h5>Rashid Ali </h5>
                                <img src="~/img/avatar-1.jpg" alt="avatar">
                                <ul class="social-icons">
                                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>

                                    <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                                <p>
                                    We provide a platform that works as an intermediate between local chefs and customers.
                                    This platform provides an opportunity for those local chefs who are unable to start their business openly.
                                    This platform provides healthy food for customers as compare to restaurants.
                                </p>
                            </div>
                        </div>
                        <!-- END Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="team-member">
                                <h5>Mohammad Tayyab </h5>
                                <img src="~/img/avatar-2.jpg" alt="avatar">
                                <ul class="social-icons">
                                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>

                                    <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                                <p>Our Mission is to provide healthy and homemade food to those customers who lives out of their homes. For example students, office workers & others who lives in commerce. And opportunity for local chefs to start their business with out any investment.</p>
                            </div>
                        </div>
                        <!-- END Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="team-member">
                                <h5>Mohammad Umair </h5>
                                <img src="~/img/avatar-3.jpg" alt="avatar">
                                <ul class="social-icons">
                                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>

                                    <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                                <p><b>"khanagarka.com"</b> is an online food web application that teams up with local chefs. That offers multiple food options. Those individual chefs who do not have any physical restaurant.</p>
                            </div>
                        </div>
                        <!-- END Team member -->
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- End Our Welcome -->
    <!-- Team -->
    <section class="about-section-two">
        <div class="container">
            <div class="inner">
            </div>

        </div>
    </section>
    <!-- END Team -->
</main>