@model FYPFinalKhanaGarKa.Models.ViewModels.ContactViewModel
@{
    ViewData["Title"] = "Contact Us";
}

@Html.Partial("_PageTitlePartial", ViewData["Title"])
<!-- Main container -->
<main class="main-content contact-page-two">
    <!-- Start Map Style1 -->
    </br>

    <!-- Start Contact Us -->
    
    <div id="Contact" class="light-wrapper">
        <div class="container">
            @if (ViewBag.Success != null)
            {
                <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Success!</strong> @ViewBag.Success
                </div>
            }
            <div class="inner">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="Contact-Form">
                                <form class="leave-comment contact-form" method="post" asp-controller="Home" asp-action="Contact" autocomplete="on">
                                    <div class="Contact-us">
                                        <div class="form-input col-md-4">
                                            <input asp-for="Name" type="text" class="form-control" placeholder="Name">
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                        <div class="form-input col-md-4">
                                            <input asp-for="Email" type="email" class="form-control" placeholder="Email">
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                        <div class="form-input col-md-4">
                                            <input asp-for="PhoneNo" type="number" class="form-control" placeholder="Phone">
                                            <span asp-validation-for="PhoneNo" class="text-danger"></span>
                                        </div>
                                        <div class="form-input col-md-12">
                                            <textarea asp-for="Msg" class="form-control" rows="5" placeholder="Message"></textarea>
                                            <span asp-validation-for="Msg" class="text-danger"></span>
                                        </div>
                                        <div class="form-submit col-md-12">
                                            <button class="btn btn-color" type="submit">Send Message</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="Contact-Info">
                            <h4>Contact Details</h4>
                            <div class="tex-contact">
                                <p>You can easily contact us.</p>
                            </div>
                            <div class="Block-Contact col-md-6">
                                <p>Phone :</p>
                                <ul>
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        <span>0303-4528483</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-fax"></i>
                                        <span>+0 (123) 456 - 7890</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="Block-Contact col-md-6">
                                <p>Email :</p>
                                <ul>
                                    <li>
                                        <i class="fa fa-envelope"></i>
                                        <span>khanagarka@gmail.com</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="Block-Contact col-md-12">
                                <p>Address :</p>
                                <ul>
                                    <li>
                                        <i class="fa fa-map-marker"></i>
                                        <span>Fateh Garh Town, Sialkot Pakistan</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact Us -->

</main>
<!-- END Main container -->
<!-- Content End -->