@model FYPFinalKhanaGarKa.Models.ViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
}

@Html.Partial("_PageTitlePartial", ViewData["Title"])
<main class="main-content">
    <div class="login-block">
        <img src="~/img/logo_gray.png" alt="">
        <h1>Request password reset</h1>
        <form method="post" asp-action="ForgotPassword" asp-controller="Customer">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="ti-email"></i></span>
                    <select class="form-control" asp-for="Choice">
                        <option value="Phone" selected>Phone</option>
                        <option value="Email">Email</option>
                    </select>
                </div>
            </div>
            <button class="btn btn-primary btn-block" type="submit">Request reset</button>
        </form>
    </div>
    <div class="login-links">
        <p class="text-center"><a asp-controller="Home" asp-action="Login">Back to login</a></p>
    </div>
</main>


<!-- Content End -->
@section Scripts
    {
    <script>
        $('body').addClass("login-page");
    </script>
}
