@model FYPFinalKhanaGarKa.Models.ViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
}
@section Styles{
    <link href="~/css/order-online.css" rel="stylesheet" />}

    @Html.Partial("_PageTitlePartial", ViewData["Title"])
    <main class="main-content">
        <div class="login-block">
            <img src="~/img/logo_gray.png" alt="">
            <h1>Request password reset</h1>
            <form method="post" asp-action="ForgotPassword" asp-controller="Home" class="clearfix">
                <div class="form-group">
                    <div class="col-lg-offset-1 col-md-offset-1 col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <label asp-for="Email">Email</label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <input asp-for="Email" class="form-control" type="text" placeholder="Email for Recovery" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <br />

                <div class="input-group">

                    <div class="col-lg-offset-1 col-md-offset-1 col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <label asp-for="Role">Role</label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <select class="form-control" asp-for="Role">
                            <option value="Customer" selected>Customer</option>
                            <option value="Chef">Chef</option>
                            <option value="DeliveryBoy">DeliveryBoy</option>
                        </select>
                    </div>

                </div>
                <button class="btn btn-primary btn-block" type="submit">Request reset</button>
            </form>
        </div>
        <div class="login-links">
            <p class="text-center"><a asp-controller="Home" asp-action="Login">Back to login</a></p>
        </div>
    </main>


    <!-- Content End -->
    @section Scripts
        {
        <script>
            $('body').addClass("login-page");
        </script>
    }
