
@{
    ViewData["Title"] = "404";
}
<!-- Main container -->
<main class="main-content">

    <!-- Start 404 page -->
    <section id="page-not-found" class="light-wrapper">
        <div class="container">
            <div class="inner">
                <div class="row">
                    <div class="section-404 col-lg-12">
                        <h1>404</h1>
                        <p>TheFoody is a global provider of food. TheFoody has operations in nearly 50 countries serving approximately 100 million coustomers. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                        <a href="index.html" class="btn blue">Back To Homepage</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End  404 page -->
    <!-- End Pages Title  -->

</main>
<!-- END Main container -->
