
@{
    ViewData["Title"] = "Registration";
}

<div class="row">
    <div class="col-xs-12">
        <div class="item-block" style="margin:50px 15px;height:400px">
            <h3 style="margin-top:100px"> &nbsp;  &nbsp; Dear...</h3>
            <p>
                &nbsp; &nbsp;  &nbsp;  &nbsp;  Your request to join KhanaGarKa.com is sent to the KhanaGarKa team. We will review your request accourding to our policy and grant you access. Please, Wait until KhanaGhar team Approve your request.
                <br /> &nbsp;  &nbsp;  &nbsp;  &nbsp;   <b> notice: </b> You cannot login to your account until KhanaGarKa team approval.
            </p>
            <p style="margin: 20px"><a asp-controller="Home" asp-action="Index" class="btn btn-danger">Back To Homepage</a></p>
        </div>
    </div>
</div>

