
@{
    ViewData["Title"] = "Success";
}
@section Styles{
    <link href="~/css/order-online.css" rel="stylesheet" />
}

<!-- Content Start -->

<main class="main-content">
    <!-- Content Start -->
    <section class="cfo-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="contact-details thankyou text-center clearfix">
                        <span><i class="fa fa-check" aria-hidden="true"></i></span>
                        <h2>Thank you for your order</h2>
                        <div class="font-icon-list col-md-2 col-sm-3 co-xs-6 col-xs-6">
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam omnis pariatur quod quia quibusdam fugit molestias est quisquam provident, modi aliquam ullam, veniam nihil ad, repellendus dolore optio rem culpa. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam omnis pariatur quod quia quibusdam fugit molestias est quisquam provident, modi aliquam ullam, veniam nihil ad, repellendus dolore optio rem culpa.
                        </p>
                        <div class="clearfix"></div>
                        <div class="app-image clearfix">
                            <img src="~/img/app.jpg" class="img-responsive" alt="">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!-- END OF CONTACT DETAILS SECTION -->
                </div>
                <!-- End of CFO order list -->

            </div>
        </div>
    </section>

</main>
<!-- Content End -->
