@{
    ViewData["Title"] = "Summary";
}
@section Styles{
    <link href="~/css/order-online.css" rel="stylesheet" />
}
@Html.Partial("_PageTitlePartial", ViewData["Title"])
<!-- Content Start -->
<main class="main-content">

    <!-- Content Start -->
    <section class="cfo-area order-summary-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="order-summary">
                        <div class="empty-basket">
                            <h2>Your basket is empty</h2>
                            <p>
                                Placeholder add items from menu or return to restaurant list
                            </p>
                            <a class="active" href="#">Back to menu</a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="cfo-orderlist">
                            <div class="cfo-itemlist">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="cross-td"><a href="">X</a></td>
                                            <td class="itme-td">
                                                <div class="item-name">
                                                    <h2>Chicken Fried Rice</h2>
                                                    <p>Stir fried rice with boneless chicken and veggies</p>
                                                </div>
                                            </td>
                                            <td class="increse-td">
                                                <div class="input-group spinner">
                                                    <input class="form-control" type="text" value="1">
                                                    <div class="input-group-btn-vertical">
                                                        <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                                                        <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="amont-td">£ 120</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- End of cfo-Itemlist -->
                            <div class="cfo-itemlist">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="cross-td"><a href="">X</a></td>
                                            <td class="itme-td">
                                                <div class="item-name">
                                                    <h2>Chicken Fried Rice</h2>
                                                    <p>Stir fried rice with boneless chicken and veggies</p>
                                                </div>
                                            </td>
                                            <td class="increse-td">
                                                <div class="input-group spinner">
                                                    <input class="form-control" type="text" value="1">
                                                    <div class="input-group-btn-vertical">
                                                        <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                                                        <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="amont-td">£ 120</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- End of cfo-Itemlist -->
                            <div class="cfo-itemlist">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="cross-td"><a href="">X</a></td>
                                            <td class="itme-td">
                                                <div class="item-name">
                                                    <h2>Chicken Fried Rice</h2>
                                                    <p>Stir fried rice with boneless chicken and veggies</p>
                                                </div>
                                            </td>
                                            <td class="increse-td">
                                                <div class="input-group spinner">
                                                    <input class="form-control" type="text" value="1">
                                                    <div class="input-group-btn-vertical">
                                                        <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                                                        <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="amont-td">£ 120</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- End of cfo-Itemlist -->
                            <div class="cfo-itemlist">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="cross-td"><a href="">X</a></td>
                                            <td class="itme-td">
                                                <div class="item-name">
                                                    <h2>Chicken Fried Rice</h2>
                                                    <p>Stir fried rice with boneless chicken and veggies</p>
                                                </div>
                                            </td>
                                            <td class="increse-td">
                                                <div class="input-group spinner">
                                                    <input class="form-control" type="text" value="1">
                                                    <div class="input-group-btn-vertical">
                                                        <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                                                        <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="amont-td">£ 120</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- End of cfo-Itemlist -->

                            <div class="clearfix"></div>
                            <div class="footer-total clearfix">
                                <div class="checkout-footer">
                                    <div class="totals">
                                        <table>
                                            <tfoot>
                                                <tr class="subtotal">
                                                    <td></td>
                                                    <td class="title">Subtotal</td>
                                                    <td class="price">930</td>
                                                </tr>
                                                <tr class="subtotal">
                                                    <td></td>
                                                    <td class="title" colspan="2">
                                                        <label for="dis"><input name="off" id="dis" type="radio">10 % Discount</label>
                                                    </td>
                                                </tr>
                                                <tr class="subtotal">
                                                    <td></td>
                                                    <td class="title" colspan="2">
                                                        <label for="offer1"><input name="off" id="offer1" type="radio">Free bottle of wine</label>
                                                    </td>
                                                </tr>
                                                <tr class="subtotal">
                                                    <td></td>
                                                    <td class="title" colspan="2">
                                                        <label for="offer2"><input name="off" id="offer2" type="radio">Free bottle of wine</label>
                                                    </td>
                                                </tr>
                                                <tr class="voucher">
                                                    <td class="voucher-input"></td>
                                                    <td class="title"></td>
                                                    <td class="price"></td>
                                                </tr>
                                                <tr class="delivery-fee ">
                                                    <td></td>
                                                    <td class="title">
                                                        Delivery fee
                                                    </td>
                                                    <td class="price">
                                                        75
                                                    </td>
                                                </tr>
                                                <tr class="service-tax">
                                                    <td></td>
                                                    <td class="title">
                                                        + Service fee (10 %)
                                                    </td>
                                                    <td class="price">£ 81</td>
                                                </tr>
                                                <tr class="total">
                                                    <td></td>
                                                    <td colspan="2">
                                                        <span class="title">Total</span>
                                                        <span class="price">£ 1,086</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td class="title rounded-off" colspan="2">
                                                        Total will be rounded off
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div><br><br><br><br><br><br><br><br><br><br><br><br><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="cfo-orderinfo">


                        <!-- End of Order Info -->
                        <div class="cfo-checkoutarea">

                            <form action="#">

                                <h3>Proceed your order</h3>
                                <br />

                                <a name="dd" class="btn btn-primary btn-block custom-checkout" id="dd" href="/order/success" type="submit">Checkout</a>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- End of CFO order list -->

            </div>
        </div>
    </section>

    <!-- Main container end -->
</main>
